body {
  background-color: #f9ffff;
  color: #333333;
  font-family: monospace;
  margin: auto;
  width: 80%;
}
/* this is the start of the work around the nav bar */
ul.menu {
  list-style-type: none;
  background-color: #333333;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li a {
  float: left;
  border-right: 1px solid #333333;
  display: block;
  color: #f0ffff;
  text-align: center;
  padding: 14px 16px;
}
/* this is the end of the work on the nav bar - I would like to improve this */

li a:hover {
  background-color: #111111;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* this is for my picture to make it round */
#rounded-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.display-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 20px;
  padding: 20px;
}

/* styling the form */
form {
  border-radius: 15px;
  padding: 14px;
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #f0ffff;
  background: #333;
}

/* styling the inputs for name and email */
input {
  width: 100%;
  padding: 4px 4px;
  margin: 3px 0;
  box-sizing: border-box;
  color: #333333;
  float: right;
}
input:focus {
  border: 2px solid #666;
  outline: none;
}
/* styling the message box */
textarea {
  width: 100%;
  padding: 4px 4px;
  box-sizing: border-box;
  background-color: #f9ffff;
  color: #333333;
  resize: none;
  height: 50px;
}
textarea:focus {
  border: 2px solid #666;
  outline: none;
}
/* styling the buttons */
button[type="submit"],
button[type="reset"] {
  color: #f0ffff;
  background-color: #333;
  border: none;
  padding: 6px 4px;
  margin: 4px 3px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #f0ffff;
  width: 120px;
  height: 30px;
}
button:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  text-align: left;
  background-color: #333333;
  color: #f0ffff;
}

.card {
  display: flex;
  flex-direction: row;
}

.inner-card {
  box-shadow: 0 4px 8px 0 #666;
  transition: 0.3s;
  width: 50%;
  padding: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-para {
  width: 80%;
}
.inner-card:hover {
  box-shadow: 0 8px 16px 0 #666;
}

.card-link {
  font-weight: bold;
  color: #333333;
  text-decoration: underline;
}
