body {
  background-color: #e5cdb0;
}

ul {
  list-style-type: none;
  background-color: #FFE4C4;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.menu{
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #3a243b;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #e5cdb0;
}

a {
  text-decoration: none;
}

a:hover {
font-weight: bold;
}
















/* body {
    background-color: #f5f2d0;    ;
    font-family: monospace;
    color: #3a243b;
    padding: 2%;
    margin: 5% 30% 5% 30%;
  }
  a {
    text-decoration: none;
  }
  
  a link {
   color: #3a243b;
  }
  
  a:visited {
    color: #3a243b;
  
  }
  a:hover {
    font-weight: bold;
  }

  #rounded-image {
      width: 300px;
      height: 300px;
      border-radius: 50%
  }

  .display-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  h1, h2 {
    text-transform: uppercase;
  }
/* putting the menu and li a together to make my navbar changes visible to me easier */
  /* .menu {
font-size: 20px;
text-transform: uppercase;
display: inline;
  }
li.menu {
  float: left;
}
a.menu {
  display: block;
  text-align: center;
  padding: 14px,16px;
  text-decoration: none;
  position: sticky;
}

li a {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #FFE4C4;
}

#likes-dislikes { 
  list-style-type: upper-roman;
}

 */ 

